@use "../2-mixins/breakpoints";

.main {
    min-height: 100vh;

    --article-padding-inline: 1rem;
    --article-padding-block: 1rem;

    &__article {
        background: white;
        color: inherit;
        font-size: var(--font-size-1);
        margin: 0 auto;
        padding: var(--article-padding-block) var(--article-padding-inline);
        width: 100%;
        max-width: 40rem;
        min-width: 0;

        .main--wide & {
            max-width: 50rem;
        }

        .main--full & {
            max-width: 100%;
        }
    }

    &__footer {
        background: white;
        color: inherit;
        padding: .5rem 1rem;
        font-size: var(--font-size--1);
    }

    @include breakpoints.breakpoint-up(sm) {
        &__article {
            --article-padding-inline: 2rem;
            --article-padding-block: 2rem;

            margin-top: 3rem;
            margin-bottom: 3rem;

            .main--full & {
                max-width: 96vw;
            }
        }
    }

    @include breakpoints.breakpoint-up(md) {
        display: grid;
        grid-template-columns: 20rem 1fr minmax(0, 40rem) 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "navigation space-left main space-right"
                                "navigation footer footer footer";
        justify-content: space-between;
        align-content: stretch;

        &--wide {
            grid-template-columns: 20rem 1fr minmax(0, 45rem) 1fr;
        }

        &--full {
            grid-template-columns: 20rem 3rem minmax(0, 1fr) 3rem;
        }

        &__article {
            grid-area: main;
            margin-top: 3rem;
            margin-bottom: 3rem;

            .main &, .main--base &, .main--wide &, .main--full & {
                max-width: unset;
            }
        }

        &__nav {
            grid-area: navigation;
        }

        &__footer {
            grid-area: footer;
        }
    }

    @include breakpoints.breakpoint-up(lg) {
        grid-template-columns: 20rem 1fr minmax(0, 50rem) 1fr;

        &--wide {
            grid-template-columns: 20rem 1fr minmax(0, 65rem) 1fr;
        }

        &--full {
            grid-template-columns: 20rem 5rem minmax(0, 1fr) 5rem;
        }

        &__article {
            --article-padding-inline: 3rem;
            --article-padding-block: 4rem;

            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
}
