@use "../2-mixins/breakpoints";

.one-column {
    > * + * {
        margin-top: 3rem;
    }
}

.two-columns {
    columns: 1;
    column-gap: 2rem;

    > * + * {
        margin-top: 3rem;
    }

    @include breakpoints.breakpoint-up(sm) {
        columns: 2;
    }

    @supports (display: grid-lanes) {
        columns: unset;
        display: grid-lanes;
        grid-template-columns: auto;
        row-gap: 3rem;

        @include breakpoints.breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);

            & > .span-2, & > .span-3 {
                grid-column: span 2;
            }
        }

        > * + * {
            margin-top: 0;
        }
    }
}

.three-columns {
    columns: 1;
    column-gap: 2rem;

    > * + * {
        margin-top: 3rem;
    }

    @include breakpoints.breakpoint-up(sm) {
        columns: 2;
    }

    @include breakpoints.breakpoint-up(lg) {
        columns: 3;
    }

    @supports (display: grid-lanes) {
        columns: unset;
        display: grid-lanes;
        grid-template-columns: auto;
        row-gap: 3rem;

        @include breakpoints.breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);

            & > .span-2, & > .span-3 {
                grid-column: span 2;
            }
        }

        @include breakpoints.breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);

            & > .span-2 {
                grid-column: span 2;
            }

            & > .span-3 {
                grid-column: span 3;
            }
        }

        > * + * {
            margin-top: 0;
        }
    }
}
