---
import Icon from "./Icon.astro"
---

<aside class="back-to-top">
    <a href="#content" class="back-to-top__link" title="Back to top" aria-label="Back to top">
        <Icon icon="circle-chevron-up" class="back-to-top__icon" />
    </a>
</aside>
