---
import pkg from '../../package.json';
---

&copy; Moritz L’Hoest
<span class="footer__separator" aria-hidden="true">|</span>
<a href={pkg.repository.url} class="footer__link">
    Source code
</a>
<span class="footer__separator" aria-hidden="true">|</span>
<a href="/legal/" class="footer__link">
    Legal notice
</a>
<span class="footer__separator" aria-hidden="true">|</span>
<a href="/privacy-policy/" class="footer__link">
    Privacy policy
</a>
